<div class="col">
  <label for="bookingDate" class="col col-form-label">Date of Booking</label>
  <div class="form-group">
    <input
      type="Date"
      class="form-control"
      name="bookingDate"
      <% console.log(date) %> 
      value="<%= date %>"
      required
    />
  </div>
</div>

<div class="col">
  <label for="bookingMealTime" class="col col-form-label"
    >Please Select a Time</label
  >
  <div class="form-group">
    <input
      type="radio"
      id="Breakfast"
      name="bookingMealTime"
      value="Breakfast"
    />
    <label for="Breakfast">Breakfast</label><br />
    <input type="radio" id="Lunch" name="bookingMealTime" value="Lunch" />
    <label for="Lunch">Lunch</label><br />
    <input type="radio" id="Dinner" name="bookingMealTime" value="Dinner" />
    <label for="Dinner">Dinner</label>
  </div>
</div>

<div class="col">
  <label for="bookingNumber" class="col col-form-label"
    >Number of People for Booking</label
  >
  <div class="form-group">
    <input
      type="number"
      class="form-control"
      name="bookingNumber"
      value="<%= booking.bookingNumber %>"
      required
    />
  </div>
</div>
<div class="col">
  <label for="allergyDescription" class="col col-form-label"
    >Any Allergy or Food Requirements</label
  >
  <div class="form-group">
    <input
      type="String"
      class="form-control"
      name="allergyDescription"
      value="<%= booking.allergyDescription %>"
    />
  </div>
</div>
<div class="mb-2"></div>

<button type="submit" class="btn btn-primary">Save</button>
<a href="/bookings" type="button" class="btn btn-secondary">Cancel</a>

