<div class="container" style="padding: 20px">
  <h1>Create a Menu Item</h1>
  <form>
    <div class="container" style="padding: 20px">
      <div class="form-group">
        <label for="itemName">Dish Name</label>
        <input
          type="text"
          class="form-control"
          id="itemName"
          placeholder="Input dish name"
        />
      </div>

      <div class="form-group">
        <label for="itemDescription">Description</label>
        <input
          type="text"
          class="form-control"
          id="itemDescription"
          placeholder="Input description"
        />
      </div>

      <div class="form-group">
        <label for="itemIngredients">Ingredients</label>
        <input
          type="text"
          class="form-control"
          id="itemIngredients"
          placeholder="Input ingredients"
        />
      </div>
    </div>

    <h5 style="margin-top: 10px">Time Category</h5>
    <div class="container" style="padding: 20px">
      <div class="row">
        <div class="form-check col">
          <input
            class="form-check-input"
            type="checkbox"
            value="Breakfast"
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="mealType">
            Breakfast
          </label>
        </div>

        <div class="form-check col">
          <input
            class="form-check-input"
            type="checkbox"
            value="LunchDinner"
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="mealType">
            Lunch & Dinner
          </label>
        </div>
        </div>
      </div>
    </div>
  </form>
</div>
