<div class="container" style="padding: 20px">
  <h1>Create a Menu Item</h1>
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Dish Name</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Example input placeholder"
      />
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput2">Description</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="Another input placeholder"
      />
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput2">Ingredients</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="Another input placeholder"
      />
    </div>
  </form>
</div>
