<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/navbar') %>
    
    <title>About Us</title>
  </head>
  <body>
    <header>
      <b>Our vision </b>
      <p style="margin-left:2.5em"></p>
    </header>
    <main>
      Headed by Gabrielle, Le Bistrot d'Andre is a fine French restaurant situated in the north of Sydney. 
         <article>
          We relish in sharing our love of fine food, fine wine excellent company with our customers.
              <section>
                <p style="margin-left:2.5em"></p>
                <b>Our list of services include:</b>
                <p style="margin-left:2.5em"></p>
              </section>
              <section>
                -	Waiter Services
              </section>
              <section>
              -	Optional banquet menu
            </section>
              -	Takeaway menu with delivery 
            <section>
              -	Ten per cent off food when paid with cash 
            <section>
              <p style="margin-left:2.5em"></p>
              <b>We cater for all events:</b>
              <p style="margin-left:2.5em"></p>
            </section>
            <section>
              -	Weddings
            </section>
            <section>
              -	Birthdays 
          </section>
              -	Anniversaries 
          <section>
              -	School events
          </section>
          <section>
            -	Other special events
        </section>
  </body>
  <p style="margin-left:2.5em"></p>

  <section>
    <b>Contact: </b>
  </section>
  Gabrielle@sydneyfrenchrestaurant.com 
  <section>
    0412000500 
  <section>
    <p style="margin-left:2.5em"></p>

  <head>
    <title>HTML img Tag</title>
 </head>
 <body>
    <img src="https://i.pinimg.com/originals/5c/9c/fe/5c9cfef41dbd045349130d26c03dead3.jpg" alt="The Venue Report" width="360"
       height="260">


 </body>
</html>