<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/navbar') %>
    <title>Booking</title>
</head>
<body>
    <div class="container">
    <h1 class="mb-4">Welcome To The Booking Page</h1>
    <div><a href = "booking/createBooking" type="button" class="btn btn-outline-success me-2">Create Booking</a>
        <a href = "booking/removeBooking" type="button" class="btn btn-outline-success me-2">Remove Booking</a>
    </div>
    <h2 class="mb-2">Here are your current bookings:</h2>
    
    <a href="/" type="button">Home</a>
</div>
</body>
</html> 