<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home</title>
    <%- include('partials/navbar')%> <%- include('partials/style') %>

    <style type="text/css">
      body {
        margin: 0px;
        padding: 0px;
      }

      h1 {
        margin: 0px;
        padding: 0px;
      }

      .banner {
        margin: 0px;
        padding: 0px;
        height: 800px;
        background-color: #0c2a0a;
      }

      .bannerimg {
        padding: 0px;
        margin: 0px;
        opacity: 70%;
      }

      .bannertxt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        color: rgb(255, 245, 235);
      }

      .bannerhead {
        font-size: 150px;
        color: rgb(255, 245, 235);
        padding: 0;
      }

      .bannerdesc {
        font-size: 60px;
        color: rgb(255, 245, 235);
        padding: 0;
        width: 100%;
      }

      .philosophy {
        height: 700px;
        width: 100%;
        background-color: #0c2a0a;
        margin: 0px;
        padding: 0px;
      }

      .about {
        width: 70%;
        height: 100%;
        float: left;
        padding-right: 20px;
      }

      .about h1 {
        float: right;
        text-align: right;
        margin-top: 230px;
        margin-right: 70px;
        margin-left: 10px;
        font-size: 90px;
        font-style: italic;
        color: rgb(255, 245, 235);
      }

      .about p {
        float: right;
        text-align: right;
        margin-top: 30px;
        margin-left: 80px;
        margin-right: 80px;
        color: rgb(255, 245, 235);
      }

      .award {
        width: 30%;
        height: 700px;
        float: right;
        background-color: rgb(255, 245, 235);
      }

      .award p {
        text-align: center;
      }

      .awardpic {
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .history {
        text-align: center;
        height: 600px;
        width: 100%;
        background-color: rgb(255, 245, 235);
      }

      .historytxt {
        text-align: center;
        padding-top: 90px;
        color: #0c2a0a;
      }

      .historyhead {
        font-size: 150px;
      }

      .historydesc {
        color: #0c2a0a;
        margin-top: 20px;
        margin-left: 120px;
        margin-right: 120px;
      }

      .services {
        height: 700px;
        position: relative;
        text-align: center;
        background-color: rgb(255, 245, 235);
        width: 100%;
        text-align: center;
        padding: 80px;
      }

      .servicestxt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #0c2a0a;
        width: 100%;
      }

      .serviceshead {
        font-size: 150px;
      }

      .servicedesc {
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 20px;
        color: #0c2a0a;
      }
    </style>
  </head>

  <body>
    <div class="banner">
      <img
        class="bannerimg"
        src="https://s3-ap-southeast-2.amazonaws.com/production.assets.merivale.com.au/wp-content/uploads/2019/08/28085906/little_felix_gallery7.jpg"
        alt="Header Image"
        style="width: 100%; height: 800px"
      />

      <div class="bannertxt">
        <div class="bannerhead">Le Bistrot D'Andre</div>
        <p class="bannerdesc">Feel the taste of french food</p>
      </div>
    </div>

    <div class="history">
      <div class="historytxt">
        <div class="historyhead">Our History</div>
        <p class="historydesc">
          For over 26 years, it has been our pleasure to serve diners in Sydney
          with the finest food and wine in a stunning location. If you have yet
          to visit our beautiful restaurant and sample our delicious menu, we
          sincerely hope that will change in the near future. Whether you are
          looking for somewhere to have a really special romantic dinner in
          Sydney or are planning a family celebration and would like to hold it
          in a restaurant where great food, fine wines and fantastic service are
          guaranteed, you will not find a better venue anywhere in Sydney than
          Le Bistrot D'Andre.
        </p>
      </div>
    </div>

    <div class="philosophy">
      <div class="about">
        <h1>Our Philosophy</h1>
        <p>
          The best food in the city served in the best location makes Le Bistrot
          D'Andre the perfect dining venue for all types of occasions and the
          icing on the cake is our first-class front-of-house team. Friendly,
          polite and always professional, our waiting staff are there to ensure
          that the time you spend with us is enjoyable from start to finish and
          that everything about your meal is absolutely perfect. Every member of
          our waiting staff is fully trained and highly experienced, and shares
          our determination to ensure that each customer we welcome to Catalina
          has the dining experience of their life.
        </p>
      </div>
      <div class="award">
        <img
          class="awardpic"
          src="https://s3-ap-southeast-2.amazonaws.com/production.assets.merivale.com.au/wp-content/uploads/2019/08/28085901/little_felix_gallery4.jpg"
          style="width: 100%"
        />
      </div>
    </div>

    <div class="services">
      <div class="servicestxt">
        <div class="serviceshead">Our Services</div>
        <p class="servicedesc">
          The best food in the city served in the best location makes Le Bistrot
          D'Andre the perfect dining venue for all types of occasions and the
          icing on the cake is our first-class front-of-house team. Friendly,
          polite and always professional, our waiting staff are there to ensure
          that the time you spend with us is enjoyable from start to finish and
          that everything about your meal is absolutely perfect. Every member of
          our waiting staff is fully trained and highly experienced, and shares
          our determination to ensure that each customer we welcome to Le
          Bistrot D'Andre has the dining experience of their life.
        </p>
        <p class="servicedesc">
          If you would like to experience the best fine dining in Sydney, call
          and make a reservation with us today. We promise you a truly memorable
          dining experience in beautiful surroundings, and we look forward to
          you becoming a much-valued regular at Le Bistrot D'Andre restaurant in
          the future.
        </p>

        <div class="container" style="padding-top: 30px; width: 100%">
          <a href="/bookings" class="btn btn-outline-success me-2"
            >Make a Booking</a
          >
        </div>
      </div>
    </div>

    <div class="footer">Le Bistrot D'Andre</div>
  </body>
</html>
