<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home</title>
<<<<<<< HEAD
=======

>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa
    <%- include('partials/navbar') %>

<style type="text/css">
body{
    margin: 0px;
    padding: 0px;
}

<<<<<<< HEAD
a{
    padding-left: 20px;
}

=======
>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa
h1{
    margin: 0px;
    padding: 0px;
}

<<<<<<< HEAD
.logo{
    float: left;
    padding-left: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-top: 35px;
    color: rgb(59, 59, 59);
}

.logopic{
  width: 100%;
}

.navlinks{
    float: right;
    padding-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 50px;
    color: rgb(136, 136, 136);
}

.loginbtn{
    float: right;
    text-align: center;
    margin-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: rgb(173, 203, 228);

}

=======
>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa

.banner{
    margin: 0px;
    padding: 0px;
    height: 800px;
    background-color: #0C2A0a;
}

.bannerimg{
    padding: 0px;
    margin: 0px;
    opacity: 70%;
    
}

.bannertxt{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: rgb(255, 245, 235);

}

.bannerhead{
<<<<<<< HEAD
    font-size: 150px;
    color: rgb(92, 92, 92);
=======
   font-size: 150px;
    color: rgb(255, 245, 235);
    padding: 0;
>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa
}

.bannerdesc{
    font-size: 60px;
    color: rgb(255, 245, 235);
    padding: 0;
    width: 100%;
}

.philosophy{
    height: 700px;
    width: 100%;
    background-color: #0C2A0a;
    margin: 0px;
    padding: 0px;
}

.about{
    width: 70%;
    height: 100%;
    float: left;
    padding-right: 20px;
}

.about h1{
    float: right;
    text-align: right;
    margin-top: 230px;
    margin-right: 70px;
    margin-left: 10px;
    font-size: 90px;
    font-style: italic;
    color: rgb(255, 245, 235);
}

.about p{
    float: right;
    text-align: right;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    color: rgb(255, 245, 235);

}

.award{
    width: 30%;
    height: 100%;
    float: right;
    background-color: rgb(255, 245, 235);


}

.award p{
    text-align: center;



}

.history{
    text-align: center;
    height: 600px;
    width: 100%;
    background-color: rgb(255, 245, 235);
}

.historytxt{
<<<<<<< HEAD
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 80px;
=======
  text-align: center;
  padding-top: 90px;
  color: #0C2A0a;
>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa
}

.historyhead{
    font-size: 150px;
    font-style: italic;
}

.historydesc{
    font-style: italic;
<<<<<<< HEAD
    color: rgb(92, 92, 92);
    padding: 80px;
=======
    color: #0C2A0a;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa
}

.footer{
    height: 100px;
    background-color: rgb(59, 59, 59);
    padding: 0px;
    margin: 0px;
    color: white;
    text-align: center;
}


.services{
    height: 700px;
    position: relative;
    text-align: center;
    background-color: rgb(255, 245, 235);
    width: 100%;
    text-align: center;
    padding: 80px;
}

.servicestxt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
<<<<<<< HEAD
    width: 100%;
    padding: 80px;
=======
    color: #0C2A0a;
    width: 100%;

>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa
}

.serviceshead{
    font-size: 150px;
    font-style: italic;
<<<<<<< HEAD
    color: rgb(92, 92, 92);
    width: 100%;
=======
>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa
}

.servicedesc{
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  color: #0C2A0a;
}
      
      </style>

  </head>

  <body>
    
        
    <div class="banner">
        
        <img class="bannerimg" src="https://s3-ap-southeast-2.amazonaws.com/production.assets.merivale.com.au/wp-content/uploads/2019/08/28085906/little_felix_gallery7.jpg" alt="Header Image" style="width: 100%; height: 800px;">
        
        
        <div class="bannertxt">
            
            <div class="bannerhead">Le Bistrot D'Andre</div>
<<<<<<< HEAD
            <div class="bannerdesc">Feel the taste of french food</div>
=======
            <p class="bannerdesc">Super cheesy company slogan or whatever</p>
>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa
        </div>

       
        
    </div>

    <div class="history">
      <div class="historytxt">
          <div class="historyhead">Our History</div>
          <p class="historydesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      </div>

  </div>

    <div class="philosophy">
        <div class="about">
            <h1>Our Philosophy</h1>
            <p>The best food in the city served in the best location makes Le Bistrot D'Andre the perfect dining venue for all types of occasions and the icing on the cake is our first-class front-of-house team. Friendly, polite and always professional, our waiting staff are there to ensure that the time you spend with us is enjoyable from start to finish and that everything about your meal is absolutely perfect. Every member of our waiting staff is fully trained and highly experienced, and shares our determination to ensure that each customer we welcome to Catalina has the dining experience of their life.</p>
        </div>
        <div class="award">
<<<<<<< HEAD
          <img src="https://images.squarespace-cdn.com/content/5524fadae4b080589492bc03/1564629592657-BZ6HMHDIC1OQOBDKFL5C/2019+Gold+Medal+Sticky+Balsamic.png?content-type=image%2Fpng"  alt="award" style="width: 50%; height: 300px;">
=======
            <img src="https://s3-ap-southeast-2.amazonaws.com/production.assets.merivale.com.au/wp-content/uploads/2019/08/28085901/little_felix_gallery4.jpg" style="width: 100%;">
>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa
        </div>
       
        

    </div>

<<<<<<< HEAD
    <div class="history">
        <img src="food.jpg"  class="foodimg" style="width: 100%; height: 600px;">

        <div class="historytxt">
            <div class="historyhead">Our History</div>
            <p>For over 26 years, it has been our pleasure to serve diners in Sydney with the finest food and wine in a stunning location. If you have yet to visit our beautiful restaurant and sample our delicious menu, we sincerely hope that will change in the near future. Whether you are looking for somewhere to have a really special romantic dinner in Sydney or are planning a family celebration and would like to hold it in a restaurant where great food, fine wines and fantastic service are guaranteed, you will not find a better venue anywhere in Sydney than Le Bistrot D'Andre.</p>
        </div>

    </div>
=======
    
>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa

    <div class="services">
        
        <div class="servicestxt">
            <div class="serviceshead">Our Services</div>
<<<<<<< HEAD
            <p>You won’t be surprised to learn that you can find some of the best seafood in Sydney being served at our waterfront restaurant. Le Bistrot D'Andre is renowned for having the best Snails in town, and the fresh poached Australian Marron and Soy Cured King Salmon are two of our most popular entrées. Crispy Skin Saltwater Barramundi and Pan Fried Snapper are among the favourite mains for lovers of seafood who visit us on a regular basis.</p>
            <p>If great steak is what you really want, our Pan Fried Westholme Wagyu Beef should definitely be on your radar. Whatever dishes you order, we guarantee they will be expertly prepared with the best and freshest ingredients, and immaculately presented by Mark, Alan and the team. Our fantastic kitchen team is, of course, a big part of the reason we are considered as one of the very best restaurants Sydney has to offer.</p>
=======
            <p class="servicedesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa
            <p>MAKE A BOOKING (this will be a button to the sign in page)</p>
        </div>
         
    </div>


    <div class="footer">footer goes here</div>
<<<<<<< HEAD

=======
>>>>>>> 44ba16a45befb247373d417ac43823109d5280fa
  </body>
</html>
