<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/navbar') %>
    <title>Login</title>
  </head>

  <body>
    <form action="/login" method="post" style="margin: 20px">
      <div class="col-3">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="email"
            class="form-control"
            id="staticEmail"
            name="email"
            required
          />
        </div>
      </div>
      <div class="col-3">
        <label for="inputPassword" class="col-sm-2 col-form-label"
          >Password</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            name="password"
            required
          />
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Please enter password
          </div>
        </div>
        <div style="padding-top: 20px">
          <button class="btn btn-outline-success me-2" type="submit">
            Login
          </button>
        </div>
        <label name="Warning" value=""></label>
        <span style="color: red">
          
        </span>
        <div>
          <a href="/registration"> Don't have an account? Sign up now</a>
        </div>
      </div>
    </form>
  </body>
</html>
