<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/navbar') %>
    <title>Menu</title>
  </head>
  <body>
    <h1 style="padding: 20px">Menu Items</h1>

    <% if (req.user && req.user.isAdmin == true) { %>
    <div class="container">
      <a href="menu/createMenuItem" class="btn btn-outline-success me-2"
        >Create Menu Item</a
      >
    </div>
    <% } %>
    <br />

    <div class="container">
      <div class="row">
        <% if(menu_item) {%> <% Array.from(menu_item).forEach(m => { %>
        <div class="col-lg-4" style="float: left">
          <div class="card mt-2">
            <div class="card-body">
              <h4 class="card-title"><%= m.itemName %></h4>
              <div class="card-title"><%= m.itemDescription %></div>
              <a href="/menu/<%= m.itemID%>" class="btn btn-info">Read More</a>
            </div>
          </div>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
  </body>
</html>
