<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/navbar') %>
    <title>Menu</title>
  </head>
  <body>
    <h1 class="mb-4">Here is the Menu:</h1>
    <% Array.from(menu_item).forEach(m => { %> 
      <div class="card mt-2">
          <div class="card-body">
              <h4 class="card-title"><%= m.ItemName %></h4>
              <div class="card-title"><%= m.ItemDescription %></div>
              <a href="menu/view/<%= m.bookingID %>"
              class="btn btn-info">Edit Booking</a>
          </div>
      </div>
      <% }) %>
  </body>
</html>
