<!-- <% booking.forEach(booking => { %> 
    <div class="card mt-2">
        <div class="card-body">
            <h4 class="card-title"><%= Booking.Time %></h4>
            <div class="card-title"><%= Booking.BookingUser %></div>
        </div>
    </div>
    <% }) %> -->

    <!--<% if (messages.error) { %> <%= messages.error%> <% } %>-->

    <!--router.get('/', (req, res) => {
  console.log('Booking page opened');
  res.render('booking', { req: req, booking : new Booking()});
});-->

<!-- <div class="col-3">
        <label for="bookingID" class="col-md-3 col-form-label">Booking ID</label>
        <div class="form-group">
          <input
            type="Number"
            class="form-control"
            name="bookingID"
            value="<%= booking.bookingID %>"
            required
          />
        </div>
      </div>-->