<!-- <% booking.forEach(booking => { %> 
    <div class="card mt-2">
        <div class="card-body">
            <h4 class="card-title"><%= Booking.Time %></h4>
            <div class="card-title"><%= Booking.BookingUser %></div>
        </div>
    </div>
    <% }) %> -->